:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --bgSuccess: #d4edda;
  --bordeSuccess: #95c4a0;
  --bgWarning: #F8D7DA;
  --bordeWarning: #c28d91;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: grid;
  
  min-width: 320px;
  min-height: 100vh;
}

header {
  div {
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
  }
  div>a {
    background-color: #646dff;
    color: #FFF;
    padding: 15px;
    border-radius: 15px;
  }

  h1 {
    text-align: center;
  }
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  /*width: 25vw;*/
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/** Específicos Apartado A **/

#cuenta {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1em;
  width: 60vw;
  margin: 0 auto;
}

#inputCuenta {
    padding: 0.7em 1.2em;
    border-radius: 8px;
    font-size: 16px;
}
button#btnComprobar {
    background: url(./search.svg) no-repeat;
    background-position: center;
    width: fit-content;
}
#aviso {
  margin: 20px 0;
  font-weight: bold;
}
.success {
  background-color: var(--bgSuccess);
  border: 1px solid var(--bordeSuccess);
  padding: 15px;
  border-radius: 7px;
}
.warning {
  background-color: var(--bgWarning);
  border: 1px solid var(--bordeWarning);
  padding: 15px;
  border-radius: 7px;
}


#datos-cuenta {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}


.banco::before {
  content: "Banco: ";
  font-weight: bold;
}
.sucursal::before {
  content: "Surcursal: ";
  font-weight: bold;
}
.digito-control::before {
  content: "Dígito de control: ";
  font-weight: bold;
}
.num-cuenta::before {
  content: "Número de cuenta: ";
  font-weight: bold;
}

/** Específicos Apartado B **/

main {
    width: 80vw;
    margin: 0 auto;
}

#intro-datos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button#btn-getImagenes,
button#btn-clean-text {
  margin: 20px;
  width: 10vw;
  align-self: center;
  box-shadow: 0px 0px 2px 0px #373737;
}

textarea#campo-texto {
    font-size: 16px;
    width: 60vw;
    height: 50vh;
    margin: 0 auto;
  }

#datos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 20px;
  margin-top: 20px;

  span {
    font-weight: bold;
    text-align: center;
  }
}

.imagen {
  display: grid;
  grid-template-rows: 4fr 1fr;
  align-items: self-end;
  box-shadow: 0px 0px 6px 0px #7aa584;
  border-radius: 7px;
  padding: 10px;
  max-width: 480px;

  img {
    max-width: 220px;
    border-radius: 7px;
    margin: 0 auto;
  }
}